<div class="container" style="list-style-type: none;">
    <br>
    <li>
      <div class="card">
        <img class="card-img-top" src={{songs.imgUrl}} alt={{songs.artist}} >
        <div class="card-body">
          <h5 class="card-title">{{songs.artist}}</h5>
          <p class="card-text">{{songs.title}} - {{songs.year}}</p>
          <div class="btn-group float-right">
              <button type="button" class="btn btn-link" (click)="onclick()"><i class="material-icons">favorite</i></button>
              <button type="button" class="btn btn-link"><i class="material-icons">delete</i></button>
            </div>
        </div>
      </div>
    </li>
  </div>

