<div class="container">
  <p>
  <div class="card mb-2">
      <img class="card-img-top" src="https://i.pinimg.com/originals/33/ff/dd/33ffddb1f33aab1f0675f5035111c8b3.jpg" alt="Card image cap">

      <div class="card-body">

        <h5 class="card-title">Banda</h5>
        <p class="card-text">Nom da música</p>

        <div class="btn-group " role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary align-middle" (click)="onclick()"><i class="material-icons">favorite</i></button>
          <button type="button" class="btn btn-secondary align-middle "><i class="material-icons">music_note</i></button>
          <button type="button" class="btn btn-secondary align-middle "><i class="material-icons">share</i></button>
          <button type="button" class="btn btn-secondary align-middle "><i class="material-icons">delete</i></button>
        </div>
    </div>

</div>

