<div class="container spaceHeight">

<ul class="list-group">
    <li class="list-group-item d-flex align-items-center">
      <img src={{songs.imgUrl}} class="space listSpace rounded-circle" />
      <div><strong>Artista:</strong> {{ songs.artist}} <p> <strong>Titulo:</strong> {{ songs.title}} - <strong>Ano: </strong> {{ songs.year}} <p></p>
          <button type="button" class="btn btn-link" (click)="onclick()"><i class="material-icons">favorite</i></button>
          <button type="button" class="btn btn-link" (click)="onRemove()"><i class="material-icons">delete</i></button>
      </div>
    </li>
  </ul>

</div>
