
.centralizado {
  margin: 0 auto !important;
  float: none;
  width: 350px;
}
.imgA{
  border-radius: 6px;
  width:100%;
}
.container{
  background-repeat: no-repeat;
  position: sticky;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
