
<div class="container">
        <br>
    <div (click)="onclick()">
        <a  class=" list-group-item-action"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLQpmBdlEyjrwd591CePdaltaZfvAjBxNHOQ4AbxSMn6hBdS2N" alt="Mana" class="rounded-circle space">Vivir sin aire - Mana</a>
    </div>
      <hr>
      <div (click)="onclick()">
          <a (click)="onclick()" class=" list-group-item-action" ><img src="https://studiosol-a.akamaihd.net/letras/75x75/fotos/9/4/c/d/94cd837ad3411e5c12eac781cdc2fbe2.jpg" alt="Bon Jovi" class="rounded-circle space">Bed of Roses - Bon Jovi</a>
      </div>
    <hr>
    <div (click)="onclick()">
        <a (click)="onclick()" class=" list-group-item-action"><a (click)="onclick()" class=" list-group-item-action"></a><img src="http://assets3.mi-web.org/foto_miniaturas/0005/8880/686131evanescence1_cuadrado.jpg?1303312075" alt="..." class="rounded-circle space">My Immortal - Evanescence</a>
      </div>
    <hr>

  </div>
